<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ensights</title>

<!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
   <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Boostrap Stylesheet -->
   
    
    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

</head>

<body>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <div class="container-nav">
                    {{!-- <img src="/assets/img/logo.png"" id="logo"> --}}
                    <a href="/" class="brand-logo">Ensights</a>
                    <ul class="right">
                        <li id="home">
                            <a href="/home">Home</a>
                        </li>
                        <li id="profile">
                            <a href="/profile">Profile</a>
                        </li>
                        <li id="logout">
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



        {{{ body }}}



    

    <!-- jQuery Reference -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- My Script -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
</body>

</html>