
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/salil.png" class="img-responsive" alt=""></figure>
            <h3><a href="#"">Salil Bhise</a></h3>
            <p>Silcon Beach Operations Manager currently studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austin </p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/richard.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Richard Vargas</a></h3>
            <p>I am a up and coming developer.Currently working in oil & gas energySkills are very novice.However, my determination remains high</p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/rez.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="#">Rezwana Rubaiya</a></h3>
            <p>Studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austink</p>
          </div>
       </li>
    </ul>
  </div>
