  <!-- ☰ button -->
  <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
  </div>
<script>
   function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

   function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
  <!-- Start Team -->
    		<div class="container">
    			<div class="row">
    				<div class="col-md-9">
    					<h1 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> TEAM</h1>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-9 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                         <p class="w3-justify">Ensights was developed by Richard Vargas, Rezwana Rubaiya, and Salil Bhise as a Full Stack Web Development project at the Houston Coding Bootcamp delivered by the University of Texas at Austin. Like what you see or have any questions? Let’s talk!</p>
    					<div class="team-wrapper">
    						<img src="https://davejamesmiller.com/build/img/avatar.b868939a1e1e76732e0e.png" class="img-responsive" alt="team img 1">
    							<div class="team-des">
    								<h2>Richard Vargas </h2>
    								<span>Full Stack Developer</span>
    								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-9 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="https://www.usermuse.com/img/avatar-female.png" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h3>Rezwana Rubaiya</h3>
    								<span>Full Stack Developer</span>
    								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-9 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="http://iamkle.in/wp-content/themes/klein2018/img/avatar.png" class="img-responsive" alt="team img 4">
    							<div class="team-des">
    								<h4>Salil Bhise </h4>
    								<span>Full Stack Developer</span>
    								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
    							</div>
    					</div>
    				</div>
    			</div>
    		</div>
        
    	<!-- end team -->

