{{!-- 
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
             <img src="./assets/img/richard.png" alt="team" style="width:340%">
            <h2 class="center">Richard</h2>
             <p class="light">I am a up and coming developer.Currently working in oil & gas energySkills are very novice.However, my determination remains high</p>
          </div>
        </div>

         <div class="col s12 m4">
          <div class="icon-block">
             <img src="./assets/img/person_image.jpg" alt="team" style="width:40%">
            <h2 class="center">Rezwana</h2>
            <p class="light">Studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austin</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
             <img src="./assets/img/salil.png" alt="team" style="width:40%">
            <h2 class="center">Salil</h2>
           <p class="light">Silcon Beach Operations Manager currently studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austin </p>
          </div>
        </div>
      </div>

    </div>
  </div>


   --}}
<!-- Team -->
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/salil.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Salil Bhise</a></h3>
            <p>Silcon Beach Operations Manager currently studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austin </p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/richard.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Richard Vargas</a></h3>
            <p>I am a up and coming developer.Currently working in oil & gas energySkills are very novice.However, my determination remains high</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/rez.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Rezwana Rubaiya</a></h3>
            <p>Studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austink</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
    </ul>
  </div>
</section>