
<h2>Team</h2>

<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="./assets/img/richard.png" alt="team" style="width:45%">
      <div class="container">
        <h2>Richard Vargas</h2>
        <p>I am a up and coming developer.Currently working in oil & gas energySkills are very novice.However, my determination remains high</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./assets/img/salil.png" alt="team" style="width:45%">
      <div class="container">
        <h2>Salil Bhise</h2>
        <p>Silcon Beach Operations Manager currently studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austin</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="./assets/img/rez.jpg" alt="team" style="width:45%">
      <div class="container">
        <h2>Rezwana Rubaiya</h2>
        <p>Studing Full Stack Web Development at the Houston Coding Bootcamp presented by the University of Texas,Austin</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>