<div class="navbar">
  <a href="#category">Categories</a>
<div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Appliances</a>
      <a href="#">Electronics</a>
      <a href="#">Electronics</a>
      <a href="#">Office Equipment</a>
    </div>
 