{{!-- <div>
  <form class="searchform cf">
    <input type="text" placeholder="dryer, model number, etc...">
    <button type="submit">Search</button>
  </form>
</div> --}}

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<ul id="categories" class="clr">
  <li class="pusher"></li>
  <li>
    <div>
      <img src="/assets/img/smartwasher.png" alt="" />
      <h1>Residential Clothes Washers</h1>
      <p>ENERGY STAR certified clothes washers use about 25% less energy and 33% less water than regular washers.</p>
    </div>
  </li>
  <li>
    <div>
      <img src="/assets/img/dryertoss.png" alt="" />
      <h1>Residential Clothes Dryers</h1>
      <p>ENERGY STAR certified dryers use about 20% less energy than conventional models without sacrificing features or performance.</p>
    </div>
  </li>
  <li>
    <div>
      <img src="/assets/img/dishclose.png" alt="" />
      <h1>Residential Dishwashers</h1>
      <p>ENERGY STAR certified dishwashers use less energy than conventional models, which helps reduce air pollution and combat global climate change.</p>
    </div>
  </li>
  <li>
    <div>
      <img src="/assets/img/handfridge.png" alt="" />
      <h1>Residential Refrigerators</h1>
      <p>ENERGY STAR certified refrigerators maximize your energy and dollar savings without sacrificing the features you want.</p>
    </div>
  </li>
</ul>

<style>
  body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("/assets/img/appliances.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  }
</style>