<div class="container">
    <div class="jumbotron"></div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper grey darken-4">
                    <div class="container-nav">
                        {{!--
                        <img src="/assets/img/logo.png" " id="logo "> --}}
                    <a href="/ " class="brand-logo ">Ensights</a>
                    <ul class="right ">
                        <li id="home ">
                            <a href="/home ">Home</a>
                        </li>
                       <li id="Category "></li>
                     	<a href="categories.html ">Categories</a>
										<ul>
											<li><a href="categories.html ">Appliances</a></li>
											<li><a href="categories.html ">Electronics</a></li>
											<li><a href="categories.html ">Electronics</a></li>
											<li><a href="categories.html ">Office Equipment</a></li>
										</ul>
									</li>
                        <li id="logout ">
                            <a href="/logout ">Logout</a>
                        </li> 
                        <li id="favorites ">
                            <a href="/favorites ">fa fa-heart-o</a>
                        </li>
                        <li id="about ">
                          <button class="openbtn " onclick="openNav() ">☰</button>    
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>   
</div>